<link rel="stylesheet" href="../style/catalogo.css" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<!-- <div class="container">
    <div class="top">
        <div>
            <h5>CATALOGO DE PRODUCTOS</h5>
          </div>
          <div class="input-group" style="width: 50%">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa o busca un codigo de barras"
              aria-label="Username"
              aria-describedby="basic-addon1"
            /><i class="bi bi-search"></i>
          </div>
    </div>
    <div class="bottom"> -->

<!-- <div class="tabla-contenedor">
      <table class="table" id="tablaProductos">
        <tbody class="div-card" ></tbody>
      </table>
    </div>
   -->
<!-- </div>
</div> -->

<h5>CATALOGO DE PRODUCTOS</h5>

<div class="contenedorSearch">
  <div>
    <div class="input-group" style="width: 50%">
      <input
        type="text"
        class="form-control"
        placeholder="Ingresa o busca un codigo de barras"
        aria-label="Username"
        aria-describedby="basic-addon1"
      /><i class="bi bi-search"></i>
    </div>
  </div>

  <div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end btn-agregar">
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-danger">Danger</button>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col" class="columnaM">Codigo</th>
        <th scope="col">Descripcion del producto</th>
        <th scope="col" class="columnaM">Departamento</th>
        <th scope="col" class="columnaP">Costo</th>
        <th scope="col" class="columnaP">P. Venta</th>
        <th scope="col" class="columnaP">P. Mayoreo</th>
        <th scope="col" class="columnaP">Existencia</th>
        <th scope="col" class="columnaP">Inv. Minimo</th>
        <th scope="col" class="columnaP">Inv. Maximo</th>
        <th scope="col" class="columnaP">Tipo Venta</th>
      </tr>
    </thead>
  </table>
</div>

<div >
  <div class="card-body" data-bs-spy="scroll">
    <div>
      <table class="table" id="tablaProductos">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<script src="../obtencionDatosDB-js/producto.js"></script>
