
button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}


.btn-final{
    margin-left:40%;
}



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}

.header {
    background-color: #333;
    color: #fff;
    padding: 5px;
}

.contenido {
    flex: 1;
    overflow-y: auto; 
    box-sizing: border-box;
} 

