
.div-se-vende{
    margin-left: 20px;
}

.checkbox{
    text-align: left;
    padding-left: 50px;
}

.div-inputs{
    width: 600px;
}

h4{
    background-color: rgb(209, 159, 51);
}

 .card-body label , .card-body span {
    font-size: 12px; 
    margin-top: 3px;
    font-weight: bold;
  }

  .card-body input, .card-body select{
    font-size: 12px; 
    margin-top: 3px;
  }

.card-body {
    overflow-y: auto; 
    max-height: 60vh; 
  }
  

  .btn-agregar{
margin-top: 5px;
  }