 
.styled-table {
    border-collapse: collapse;
    width: 96%;
    border: 1px solid #ddd; 
    font-size: 12px;
    text-align: center;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px;
}

.styled-table thead {
    background-color: rgb(92, 176, 231); 
}

.columnaM{
    width: 12%;
}

.columnaP{
    width: 7%;
    
}

.justDerecho{
    text-align: right;
}

.justificado{
   text-align: center;
}

.numeroLetra{
    font-size: 12px;
}
.centrado{
    text-align: center;
}

/* ----------------- */

.card-body {
    overflow-y: auto; 
    max-height: 75vh; 
    width: 97%;
  }  

.contenedorSearch {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0px;
    height: 8vh; 
}


.search{

    /* border: 2px  solid rgb(107, 166, 243); */
    width: 80%;
    /* border-radius: 1px;
    height: 40px;
    padding-left: 5px; */
}

/* 
.search:focus {
    background-color: #e6f3ff; /* Cambia el color de fondo cuando el input está seleccionado */
    /* border: 2px  solid rgb(219, 26, 26); */

/* } */ 


