
  
.tabla-contenedor {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 70%; /* Ajusta la altura según sea necesario */
    overflow: auto; /* Añade un scroll si la tabla es más grande que el contenedor */
   
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

.tabla{
    margin-top: 10px;
    
}

th, td {
    border:1px  solid #020202;
    text-align: left;
    font-size: 11px; 
    text-align: left;


}

.columna{
    background-color: rgb(230, 0, 0);
}

