
  

.styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd; 
    font-size: 12px;
    text-align: center;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px;
}

.styled-table thead {
    background-color: rgb(92, 176, 231); 
}

.columnaM{
    width: 12%;
}

.columnaP{
    width: 7%;
    
}

.justDerecho{
    text-align: right;
}

.justificado{
   text-align: center;
}

.numeroLetra{
    font-size: 12px;
}