

.contenedor{
    border-collapse: collapse;
    width: 96%;
    border: 1px solid #c02121; 
    font-size: 12px;
    /* text-align: center; */
    margin-top: 5px;
    height: 100%;

}


/*--------------------------------------------*/

.container {
    display: flex;
    height:90vh;
}
.left-side {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
}
.right-side {
    flex: 2;
    background-color: #eaeaea;
    padding: 20px;
}
input[type="text"], button {
    display: block;
    margin-bottom: 10px;
}

