.title{
    background-color: rgb(115, 164, 228);
    color: #ffffff;
    /* font-size: 15px; */
    padding: 4px;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd; 
    font-size: 12px;
    text-align: center;
}

.styled-table th, .styled-table td {
    border: 1px solid #c0bbbb; /* Borde de las celdas */
    padding: 8px;
}

.styled-table thead {
    background-color: rgb(193, 223, 243); 
}

.columnaM{
    width: 12%;
}

.columnaP{
    width: 8%;
    
}

.just-izquierdo{
    text-align: left;
    width: 25%;
 
}

.justDerecho{
    text-align: right;
}

.justificado{
   text-align: center;
}

.numeroLetra{
    font-size: 12px;
}
.centrado{
    text-align: center;
}

/* ----------------- */

.card-body {
    overflow-y: auto; 
    max-height: 75vh; 
    width: 97%;
  }  

.contenedorSearch {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0px;
    height: 8vh; 
    /* width: 100%; */
}

.search{
    width: 100%;
}


.btn-agregarProducto{
    margin-left: 7px;
}

.table-container{
    margin-left: 2px;
}

.btn-submenu{
    margin-bottom: 5px;
}


.contenidoCompra{
    background-color: rgb(222, 228, 228);
}


.icono{
    background-color: black;
}

#nav-tabContent{
    height: 200px;
}

.div-agregarTabs{
    display: grid;
    grid-template-columns: 85% 15%;
    
}


/* ---------------------botones de la venta actual parte inferior-------------------------- */

.botones-ventaActual{
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 85% 15%;

}

.totalCompra {
    width: 100%;
    background-color: blue;
    height: 70px;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.btn-cobrar{
    width: 180px;
}

.div-btn-cobrar{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: yellow;
    justify-content: center;

}
